#album-cover-art {
  height: 280px;
  width: 280px;
  float: left;
  padding: 100px;
}

.artist {
  color: white;
  text-transform: uppercase;
}

.song {
  padding: 20px;
}

#song-number, #song-duration {
  color: blue;
  padding-left: 20px;
  padding-right: 20px;
}

#song-title {
  color: white;
  text-transform: uppercase;
}

.player-bar {
  color: blue;
}
