.artist {
  color: white;
  text-transform: uppercase;
}

#song-number, #song-duration {
  color: blue;
  padding-right: 20px;
}

#song-title {
  color: white;
  padding-right: 20px;
}

.player-bar {
  color: blue;
}
