.library {
  color: white;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.image {
  height: 300px;
  width: 300px;
  border-style: solid;
  float: left;
  padding: 20px;
}

.album {
  float: inherit;
  padding: 20px;
}
