.library-page {
  color: white;
  text-transform: uppercase;
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
  padding-left: 170px;
  padding-right: 100px;
}

.image {
  height: 280px;
  width: 280px;
  border-style: solid;
  padding: 20px;
  box-shadow: 0 4px 8px 0 blue;
  transition: 0.3s;
}

.image:hover {
  box-shadow: 0 8px 16px 0 blue;
}

.album-in-detail {
  padding: 16px 16px;
}
